/* line 11, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
body {
  background-image: url("../images/polkadot_background.png");
  background-size: 1em;
  color: #894f4f;
  font-family: 'Roboto', sans-serif;
}

/* line 18, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.maindiv {
  background-color: white;
  padding: 0;
  border: 4px solid #fba1b2;
}

/* line 24, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
#header {
  width: 100%;
  padding: 0;
}

/* line 28, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.siteheader nav ul {
  margin-bottom: 0;
}

/* line 32, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.siteheader nav {
  border-bottom: 2px solid #fba1b2;
  border-top: 2px solid #fba1b2;
}

/* line 37, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.siteheader nav li {
  display: inline-block;
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* line 45, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.siteheader a {
  color: #894f4f;
}

/* line 49, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.siteheader li:hover {
  background-color: #ffbeca;
}

/* line 55, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.leftdiv {
  background-color: #fdfdf7;
  border-right: 2px solid #fba1b2;
  padding: 0;
}

/* line 61, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.leftdiv h1 {
  font-family: 'Coiny', sans-serif;
  color: #e96968;
  background-color: #fdedda;
  margin: 0;
  padding: 3%;
  text-align: center;
  z-index: 2;
}

/* line 71, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.leftdiv p {
  padding: 3%;
}

/* line 75, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.leftdiv h2 {
  font-family: 'Coiny', sans-serif;
  font-size: 2em;
  color: #e96968;
  background-color: #fdedda;
  margin: 0;
  padding: 3%;
  text-align: center;
}

/* line 85, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
#filtersearchform {
  padding: 5%;
}

/* line 90, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.rightdiv {
  background-color: #fdfdf7;
  padding: 0;
}

/* line 95, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.rightdiv a {
  color: #894f4f;
}

/* line 100, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.rightdiv .searchbar {
  padding: 1%;
}

/* line 104, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.cart {
  text-align: right;
}

/* line 107, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.cart_text {
  font-size: 1.1em;
  display: inline-block;
}

/* line 111, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
#searchsubmitbutton {
  background: white;
  border: 2px solid #e96968;
  padding: .3em;
  color: #894f4f;
}

/* line 118, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
#searchinput {
  width: 70%;
  border: 2px solid #e96968;
  padding: .3em;
  color: #894f4f;
}

/* line 125, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
#searchinput:focus {
  outline: 2px solid #fba1b2;
}

/* line 128, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
#searchsubmitbutton:focus {
  outline: none;
  border: 2px solid #fba1b2;
}

/* line 134, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.productdisplay {
  background-color: white;
  padding-top: 5%;
}

/* line 139, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.productdisplay img {
  width: 85%;
}

/* line 143, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.productbox {
  text-align: center;
  padding: 2%;
}

/* line 149, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.productdisplay img:hover {
  display: inline-block;
  outline: 4px solid #addff6;
}

/* line 154, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.productdisplay h4 {
  margin: 2%;
}

/* line 158, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.productdisplay p {
  margin: 1%;
  font-size: 1.4em;
}

/* line 163, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.price {
  font-weight: bold;
  display: inline-block;
  color: #348eb8;
}

/* line 169, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.addcartbutton {
  font-size: 1.3em;
  background: #fdfdf7;
  border: 2px solid #348eb8;
  color: #e96968;
}

/* line 176, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.addcartbutton:focus {
  outline: none;
  background-color: #fdedda;
}

/* line 181, C:/Users/Christie/Dropbox/coding_temple/cloud_whale/style/sass/style.scss */
.productbox h4 {
  font-weight: bold;
}

/*# sourceMappingURL=../style.map */