$lightpink: #ffbeca;
$pink: #fba1b2;
$darkpink: #e96968;
$offwhite: #fdfdf7;
$cream: #fdedda;
$brown: #894f4f;
$lightblue: #addff6;
$blue: #7cc6e8;
$darkblue: #348eb8;

body{
  background-image:url("../images/polkadot_background.png");
  background-size:1em;
  color: $brown;
}

div{
  font-family: "Cabin",sans-serif;
}

.maindiv{
  background-color:white;
  padding:0;
  border:4px solid $pink;
}

#header{
  width:100%;
  padding:0;
}
.siteheader nav ul{
  margin-bottom:0;
}

.siteheader nav{
  border-bottom: 2px solid $pink;
  border-top: 2px solid $pink;
  font-size:1.2em;
}

.siteheader nav li{
  display: inline-block;
  padding-right:6%;
  padding-left: 6%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.siteheader a{
  color: $brown;
}

.siteheader li:hover{
  background-color: $lightpink;
}



.leftdiv{
  background-color: $offwhite;
  border-right: 2px solid $pink;
  padding: 0;
}

.leftdiv h1{
  font-family: 'Coiny', sans-serif;
  color:$darkpink;
  background-color: $cream;
  margin: 0;
  padding: 3%;
  text-align:center;
  z-index: 2;
}

.leftdiv p{
  padding: 3%;
}

.leftdiv h2{
  font-family: 'Coiny', sans-serif;
  font-size:2em;
  color: $darkpink;
  background-color: $cream;
  margin: 0;
  padding: 3%;
  text-align:center;
}

#filtersearchform{
  padding:5%;
}


.rightdiv{
  background-color: $offwhite;
  padding: 0
}

.rightdiv a{
  color:$brown;
}


.rightdiv .searchbar{
  padding: 1%;
}



.cart{
  text-align:right;
}
.cart_text{
  font-size:1.1em;
  display:inline-block;
}
#searchsubmitbutton, #contactsubmitbutton{
  background: white;
  border: 2px solid $pink;
  padding:.3em;
  color: $brown;
}

 #searchinput{
   width: 70%;
   border: 2px solid $pink;
   padding: .3em;
   color: $brown;
 }

#searchinput:focus{
  outline: 2px solid $darkpink;
}
#searchsubmitbutton:focus, #contactsubmitbutton:focus{
  outline:none;
  border: 2px solid $darkpink;
}
.productdisplay{
  background-color: white;
  padding-top:5%;
}
.productdisplay img{
  width: 85%;
}
.productbox{
  text-align:center;
  padding: 2%;

}
.productdisplay img:hover{
  display:inline-block;
  outline: 4px solid $lightblue
}

.productdisplay h4{
  margin:2%;
}
.productdisplay p{
  margin:1%;
  font-size:1.4em;
}

.price{
  font-weight:bold;
  display:inline-block;
  color: $darkblue;
}

.addcartbutton{
  font-size:1.3em;
  background: $offwhite;
  border: 2px solid $darkblue;
  color: $darkpink;
}

.addcartbutton:focus{
  outline: none;
  background-color: $cream;
}

.productbox h4{
  font-weight:bold;
}
.productdisplay{
  padding-top:0.1%;
  text-align:center;
  margin:0 auto;
  padding-right:1%;
}

.productdisplay h3{
  font-family: "Coiny";
  font-size:3em;
}

.productdisplay p{
  font-size:1.2em;
}

.aboutsection{
  background-color:$cream;
  padding: 1%;
  margin-bottom:1%;
  padding-top:2%;
  border: 2px solid $pink;
}

.about_page p{
  font-size:1.1em;
}

.about_page h1{
  font-family:"Coiny";
  text-align:center;
  font-size:4em;
  color:$darkpink;
}

.about_page img{
  outline: 2em solid white;
  width:80%;
  margin:10%;
}

.contactform *[class^="contact"]{
  width:100%;
  height:3em;
  padding:.4em;
  margin-bottom:1em;
  border: 2px solid $pink;
}
.contactform *[class^="contact"]:focus{
  outline:none;
  border-color: $darkpink
}
.contactform p{
  margin-bottom:0;
}

.contactform textarea{
  height: 5em!important
}
.aboutsection h2{
  font-weight:bold;
  margin-top:0;
}

#contactsubmitbutton{
  padding:1%;
  width:20%;
  font-weight:bold;
  border: 2px solid $pink;
}
#contactsubmitbutton:focus{
  border: 2px solid $darkpink
}

.fullproduct{
  background-color:white;
}

.fullproduct img{
  width:65%;
}

.fullproduct nav{
  background-color:$cream;
  padding-top:2%;
  padding-bottom:1%;
}

.fullproduct nav ul{
  margin: 0 auto;
  padding:0;
}
.fullproduct nav li{
  display:inline-block;
  padding-left:5%;
  padding-right:5%;
}
.panel{
  margin: 0 auto;
  width:65%;
  border: 2px solid $blue;
}
.panel p{
  padding:1%;
  margin-bottom:0
}

.activepanel{
  background-color:white;
}
