<div class="filtersearch">
  <h2>Filter Your Search</h2>
  <form id="filtersearchform">
    <input type="checkbox" name="filteritem" class="filteritem" value="plush" data-ng-model='types.plush'> Plushies <br>
    <input type="checkbox" name="filteritem" class="filteritem" value="fleece"data-ng-model='types.fleece'> Fleece <br>
    <input type="checkbox" name="filteritem" class="filteritem" value="felt"data-ng-model='types.felt'> Felt <br>
    <input type="checkbox" name="filteritem" class="filteritem" value="figurines"data-ng-model='types.figurines'> Figurines <br>
    <input type="checkbox" name="filteritem" class="filteritem" value="stickers"data-ng-model='types.stickers'> Stickers <br>
    <input type="checkbox" name="filteritem" class="filteritem" value="pokemon" data-ng-model='types.pokemon'> Pokemon <br>
    <input type="checkbox" name="filteritem" class="filteritem" value="minky" data-ng-model='types.minky'> Minky <br>

  </form>
  <h2>Price Range</h2>
  <form id="filtersearchform">
    <input type="checkbox" name="filteritem" class="filteritem" value="<10"> Less than $10 <br>
    <input type="checkbox" name="filteritem" class="filteritem" value="10-20"> $10-$20 <br>
    <input type="checkbox" name="filteritem" class="filteritem" value="20-40"> $20-$40 <br>
    <input type="checkbox" name="filteritem" class="filteritem" value="40-60"> $40-$60 <br>
    <input type="checkbox" name="filteritem" class="filteritem" value=">60"> $60+ <br>
  </form>
</div>
